%h1 Остатки


#content_container
  #content_table
    %table.data_table.display
      %thead
        %tr
          %th Наименование
          %th Номер
          %th Склад
          %th Остаток
      %tbody
        = render @stocks
  #content_categories
    = stocks_category_tree(Category.arrange)