.fr= link_to 'Внести продажу', new_sale_order_path if can?(:manage, SaleOrder)
%h1 Продажи

%table.data_table.display
  %thead
    %tr
      %th Дата
      %th Клиент
      %th Сотрудник
  %tbody
    - @sale_orders.each do |sale_order|
      %tr{ 'data-url' => sale_order_path(sale_order) }
        %td= sale_order.date
        %td= sale_order.client
        %td= sale_order.user.name

%br
.data_item