.fr= link_to 'Добавить склад', new_department_path if can?(:manage, Department)
%h1 Склады

%table.data_table.display
  %thead
    %tr
      %th Название
      - if can? :manage, Department
        %th
        %th
  %tbody
    - @departments.each do |department|
      %tr
        %td= department.name
        - if can? :manage, Department
          %td= link_to 'Изменить', edit_department_path(department)
          %td= link_to 'Удалить', department, :confirm => 'Удалить?', :method => :delete

%br
