.fr= link_to 'Добавить товар', new_product_path if can?(:manage, Product)
%h1 Товары

#content_container
  #content_table
    = render 'table'
  #content_categories
    = products_category_tree(Category.arrange)