%h1 Товары
.fr
  = link_to 'Добавить товар', new_product_path if can?(:manage, Product)
= select_tag 'category_id', category_options_tree(Category.arrange, params[:category_id].to_i), :prompt => '-- Все категории --', :onchange => 'document.location="?category_id=" + $(this).val()'


= render 'table'
