.fr= link_to 'Новый сотрудник', new_company_user_path
%h1 Сотрудники

%table.data_table.display
  %thead
    %tr
      %th Логин
      %th ФИО
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.name
        %td= link_to 'Изменить', edit_company_user_path(user)

%br
